pkgbase = vicinae-bin
	pkgdesc = Raycast like FOSS app on Linux
	pkgver = 0.16.13
	pkgrel = 1
	url = https://github.com/vicinaehq/vicinae
	arch = x86_64
	license = GPL3
	depends = nodejs
	depends = qt6-base
	depends = qt6-svg
	depends = layer-shell-qt
	depends = libqalculate
	depends = qtkeychain-qt6
	depends = libxml2
	depends = minizip
	provides = vicinae
	conflicts = vicinae
	source = https://github.com/vicinaehq/vicinae/releases/download/v0.16.13/vicinae-linux-x86_64-v0.16.13.tar.gz
	source = vicinae.hook
	sha256sums = b8bed392d1129398206c3f9c9d8048526f8a71628fd40133788f5e285cfa06cf
	sha256sums = 3e946bcb7f3c2faa3568218987012db336be92acff805a373b6c10bdeaa9e7a8

pkgname = vicinae-bin
