pkgbase = vicinae-bin
	pkgdesc = Raycast like FOSS app on Linux
	pkgver = 0.19.1
	pkgrel = 1
	url = https://github.com/vicinaehq/vicinae
	arch = x86_64
	license = GPL3
	depends = nodejs
	depends = qt6-base
	depends = qt6-svg
	depends = layer-shell-qt
	depends = libqalculate
	depends = qtkeychain-qt6
	depends = libxml2
	depends = minizip
	provides = vicinae
	conflicts = vicinae
	source = https://github.com/vicinaehq/vicinae/releases/download/v0.19.1/vicinae-linux-x86_64-v0.19.1.tar.gz
	source = vicinae.hook
	sha256sums = 6647a74203a124a5b6f48b1aea4162b4df174e805f2c0e4687c4e8015c850792
	sha256sums = 3e946bcb7f3c2faa3568218987012db336be92acff805a373b6c10bdeaa9e7a8

pkgname = vicinae-bin
